################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Creating_CRUD_App_Using_ASPDotNET_Core_Web_API/obj
/.vs
/ApiDatabaseWebAPICRUDOperations
/Creating_CRUD_App_Using_ASPDotNET_Core_Web_API/.vs
/IdentityFramework
/jQuery_In_ASPDotNET_Core
