@model IEnumerable<Partial_view.Models.ProductModel>
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>
<div class="container">
    <div class="row d-flex justify-content-center mt-3 pt-5">
        @foreach (var item in Model)
        {
            <div class="col-4 border border-secondary rounded">
                <partial name="_Product_Partial_View.cshtml" model="@item" />
        </div>
        }
    </div>
</div>




